@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

//R2R Color
$primary: #1c3d8d;
$info: #2cd097;
$dark: #333333;
$gray: #666666;
$gray80: #808080;
$softgray: #cccccc;
$theme-colors: (
	"primary": #1c3d8d,
	"secondary": #f5bc1f,
	"info":#2cd097,
	"dark":#333333,
	"gray":#666666,
	"gray80":#808080,
	"grayF2":#f2f2f2,
	"softgray":#cccccc,
	"black":$black
);

//R2R Font Base
$font-family-base: 'Open Sans', sans-serif;

.text-sm {
	font-size: $font-size-sm;
}

.title-section {
	font-family: 'Rheiborn_Sans_Clean';
	&__with-border {
		color: $dark;
		position: relative;
	}
	&__with-border::before {
		content: '';
		background-color: $gray;
		height: 1px;
		width: 30px;
		margin: 0 auto 0;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: -10px;
	}
}

//R2R Text
.r2r-custom .line-normal {
	line-height: normal;
}

//R2R NAV
$iconmenu: $env+"/static/slicing/icon/icon_hamburger.svg";
$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: $white;
$navbar-dark-toggler-icon-bg: str-replace(url($iconmenu), "#", "%23");
$navbar-dark-toggler-border-color: rgba($white, 0);

.r2r-custom .navbar-toggler-icon {
	width: 1.1em;
	height: 1.1em;
}

.r2r-custom .nav-link {
	font-family: 'Rheiborn_Sans_Clean';
}

@media screen and (max-width: 767px) {
	.r2r-custom .navbar-collapse {
		background-color: black;
	}
}

//R2R BTN
$input-btn-font-family: 'Rheiborn_Sans_Clean';
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

.r2r-custom .btn {
	font-size: $font-size-base*1.7;
}

.r2r-custom .btn-info {
	color: $white;
}

.r2r-custom .btn-secondary {
	color: $primary;
}

// R2R Picture
.overlay--img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.overlay--img__black::before {
	content: '';
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.overlay--img__blue::before {
	content: '';
	background: linear-gradient(rgba(0, 29, 93, 0.5), rgba(0, 29, 93, 0.5));
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* R2R Carousel */
.r2r-custom .carousel-indicators {
	z-index: 8;
	margin-bottom: 10px;
}
.r2r-custom .carousel-indicators li {
	width: 6px;
	height: 6px;
	border-radius: 100%;
}

/* R2R Pagination */
$pagination-border-width: 2px;
$pagination-color: $primary;
$pagination-border-color: $white;
$pagination-active-border-color: $primary;
$pagination-active-bg: $primary;
$pagination-padding-y: .3rem;
$pagination-padding-x: .7rem;
.r2r-custom .pagination li:last-child a,
.r2r-custom .pagination li:first-child a {
	border: 2px solid $primary;
	border-radius: 0;
}

/* R2R Form */
$input-height: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border} + .8em);
$input-placeholder-color: $gray80;
$input-font-family: $font-family-base;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$form-group-margin-bottom: 1.5rem;

.r2r-custom .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */

	font-style: italic;
}
.r2r-custom .form-control::-moz-placeholder {
	/* Firefox 19+ */

	font-style: italic;
}
.r2r-custom .form-control:-ms-input-placeholder {
	/* IE 10+ */

	font-style: italic;
}
.r2r-custom .form-control:-moz-placeholder {
	/* Firefox 18- */

	font-style: italic;
}

.r2r-custom .profile {
	font-family: 'Rheiborn_Sans_Clean';
}
