$body-bg: #000;
$body-color: #fff;

$primary:#00a;
$secondary: #3ab7ff;
$success: #65ff9f;
$info: #7164ff;
$warning: #ff9f65;
$danger: #ff457b;
$light: #f2d4ff;
$dark: #18181d;

$theme-colors: ("custom-color": #900);