
.mainCover {
	background-size: cover;
	background-position: center;
	height: 450px;

	&>div {
		max-width: 100%;

		.coverInfo {
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;
			z-index: 5;
			padding: 330px 10px 0;
			text-align: center;

			.title-section { font-size: 5vh; }

			.video-section {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				border: 1px solid white;
				padding: 14px;
				line-height: 1;

				.icon { font-size: 14pt; }
				.section-info { display: none; }
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.mainCover {
		height: 400px;

		&>div {
			margin: 0 auto;
			padding: 20px;

			.coverInfo {
				width: 50%;
				height: auto;
				bottom: 50%;
				left: 50%;
				transform: translate(0, 50%);
				-webkit-transform: translate(0, 50%);
				padding: 20px 20px 70px;

				h1, div {
					text-align: left !important;
				}
				.title-section { font-size: 30pt; }
				.video-section {
					bottom: 10px;
					top: auto;
					left: auto;
					transform: none;
					-webkit-transform: none;

					span { float: left;  }
					.section-info {
						display: block;
						font-size: 18pt;
						margin: -4px 0 -4px 15px;
						letter-spacing: .05rem;
						font-family: 'Rheiborn_Sans_Clean';
					}
				}
			}
		}
	}
}

.slick-track {
	float: left;
}

.trip-info-center {
	width: 80%;
	height: auto;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%, -50%);

	&>h1 {
		font-size: 5vw;
		line-height: .8em;
	}

	&>img {
		width: auto;
		max-height: 30px;
		height: 20%;
	}
}

@media screen and (max-width: 480px) {
	.trip-info-center {
		width: 70%;

		&>h1 {
			font-size: 12vw;
		}
	}
}

.teaserCard {
	.card-title {
		margin-bottom: 0;
	}

	.title-section:not(.card-title) {
		font-size: 2.2vh;
	}

	[class^="icon-"], [class*=" icon-"] {
		margin-bottom: 0;
	}

	.card-grid {
		padding-bottom: .2rem;
	}

	.card-button-info {
		font-size: 9pt;
	}
}

@media screen and (min-width: 768px) {
	.teaserCard {
		margin: 0 1rem 2rem !important;

		.card-title {
			margin-bottom: 1rem;
		}

		.card-grid {
			padding-bottom: 1rem;
		}

		.card-button-info {
			font-size: 12pt;
		}

		.title-section:not(.card-title) {
			font-size: 5vh;
		}
	}
}

@media screen and (min-width: 575px) {
	.testimonialList .testimonialList-wrapper {
		padding: 0 20px;
	}
}

.textImgCard {
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	padding-bottom: (1000/720)*100%;
}

.squareCover {
	background-size: cover;
	background-position: center;
	height: 52vh;
	position: relative;
}
.squareCover.overlay--img__blue::before {
	background-image: linear-gradient(to top, rgba(0, 29, 93, 0) 0%, rgba(0, 29, 93, .6) 80%);
}

.tiles img {
	border: 4px solid transparent;
}

.separatorLine::after {
	content: '';
	position: absolute;
	top: 12px;
	right: 0;
	left: 0;
	bottom: 0;
	height: 1px;
	background-color: $softgray;
	z-index: -1;
}

.v-divider::after {
	content: '';
	position: absolute;
	top: -2px;
	right: 0;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 30px;
	background-color: $gray;
}

.searchToggle {
	background: transparent;
	border: 0;
	position: absolute;
	top: 20px;
	right: 60px;
}
.verticalLine {
	width: 1px;
	height: calc(100% - 60px);
	position: absolute;
	left: 5px;
	z-index: 1;
}
.verticalLine.bg-dark {
	height: 100%;
	z-index: 2;
	top: 0;
}
.abs-border {
	position: relative;
}
.abs-border::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: $softgray;
	top: 0;
	right: -20px;
}

@media (max-width: 576px) {
	.sliderMobile {
		overflow-x: auto;
	}
}
.article-img__fluid .img__wrap {
	margin: 20px -15px;
}
.article-img__fluid blockquote {
	width: 75%;
	text-align: center;
	font-size: 1.4em;
	margin: auto;
	padding: 50px 0;
	position: relative;
}
.article-img__fluid blockquote::before,
.article-img__fluid blockquote::after {
	content: '';
	background: url($env+"/static/slicing/icon/icon_quote.svg") no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}
.article-img__fluid blockquote::before {
	top: 0;
}
.article-img__fluid blockquote::after {
	bottom: 0;
}
.article-img__fluid blockquote p {
	margin: 0;
}
.article-img__fluid blockquote p:first-child {
	padding-bottom: .8em;
	line-height: normal;
	font-style: italic;
	font-weight: 700;
	font-size: 1.3em;
}
.article-img__fluid blockquote p:last-child {
	font-size: .8em;
	font-weight: 700;
}

#collapseTransparent > div::after {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 33%);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#nprogress .bar {
	height: 3px;
	background: $info;
}
#nprogress .peg {
	box-shadow: 0 0 10px $info, 0 0 5px $info;
}

#nprogress .spinner-icon {
	border-top-color: $info;
	border-left-color: $info;
}
